<!DOCTYPE html>
<html>
<head>
    <title>Macho Shop</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO SHOP</h1>
        <p class="subtitle">The strongest online shop on the minecraft server.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Shop</h1>
            <br />
            <div class="drac">
                <h2>Macho Flag</h2>
                <br />
                <img src="/static/images/flag.jpg" class="images">
                <br />
                <p>7 macho bucks</p>
                <br />
                <input type="number" id="macho-flag-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-flag-amount" placeholder="Number to buy">
                <br />
                <button id="macho-flag-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Badge</h2>
                <br />
                <img src="/static/images/badge.jpg" class="images">
                <br />
                <p>3 macho bucks</p>
                <br />
                <input type="number" id="macho-badge-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-badge-amount" placeholder="Number to buy">
                <br />
                <button id="macho-badge-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Pink Eraser</h2>
                <br />
                <img src="/static/images/eraser.jpg" class="images">
                <br />
                <p>5 macho bucks</p>
                <br />
                <input type="number" id="macho-eraser-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-eraser-amount" placeholder="Number to buy">
                <br />
                <button id="macho-eraser-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Pencil Topper</h2>
                <br />
                <img src="/static/images/penciltopper.jpg" class="images">
                <br />
                <p>10 macho bucks</p>
                <br />
                <input type="number" id="macho-penciltopper-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-penciltopper-amount" placeholder="Number to buy">
                <br />
                <button id="macho-penciltopper-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho 3d Print</h2>
                <br />
                <img src="/static/images/3dprint.jpg" class="images">
                <br />
                <p>15 macho bucks</p>
                <br />
                <input type="number" id="macho-3dprint-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-3dprint-amount" placeholder="Number to buy">
                <br />
                <button id="macho-3dprint-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Cow Eraser</h2>
                <br />
                <img src="/static/images/coweraser.jpg" class="images">
                <br />
                <p>30 macho bucks</p>
                <br />
                <input type="number" id="macho-coweraser-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-coweraser-amount" placeholder="Number to buy">
                <br />
                <button id="macho-coweraser-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Keychain</h2>
                <br />
                <img src="/static/images/keychain.jpg" class="images">
                <br />
                <p>12 macho bucks</p>
                <br />
                <input type="number" id="macho-keychain-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-keychain-amount" placeholder="Number to buy">
                <br />
                <button id="macho-keychain-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Pen</h2>
                <br />
                <img src="/static/images/pen.jpg" class="images">
                <br />
                <p>8 macho bucks</p>
                <br />
                <input type="number" id="macho-pen-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-pen-amount" placeholder="Number to buy">
                <br />
                <button id="macho-pen-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Jumbo Pack</h2>
                <br />
                <img src="/static/images/jumbopack.jpg" class="images">
                <br />
                <p>8 macho bucks</p>
                <br />
                <input type="number" id="macho-jumbopack-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-jumbopack-amount" placeholder="Number to buy">
                <br />
                <button id="macho-jumbopack-buy" class="button">Buy</button>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
