<!DOCTYPE html>
<html>
<head>
    <title>Macho Stock Market</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO SHOP</h1>
        <p class="subtitle">The strongest online shop on the minecraft server.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Shop</h1>
            <br />
            <div class="drac">
                <h2>Macho Flag</h2>
            </div>
            <div class="drac">
                <h2>Macho Badge</h2>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
