<!DOCTYPE html>
<html>
<head>
    <title>Macho Shop</title>

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/buttons.css">
</head>
<body>

    <div class="hero">
        <h1 id="logo">MACHO SHOP</h1>
        <p class="subtitle">The strongest online shop on the minecraft server.</p>
    </div>

    <nav>
        <a class="nav" href="/">Home</a>
        <a class="nav" href="/admin">Admin Panel</a>
    </nav>

    <div class="container">
        <div class="card">
            <h1>Shop</h1>
            <br />
            <div class="drac">
                <h2>Macho Flag</h2>
                <br />
                <img src="/static/images/flag.jpg" class="images">
                <br />
                <p>7 macho bucks</p>
                <br />
                <input type="number" id="macho-flag-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-flag-amount" placeholder="Number to buy">
                <br />
                <button id="macho-flag-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Badge</h2>
                <br />
                <img src="/static/images/badge.jpg" class="images">
                <br />
                <p>3 macho bucks</p>
                <br />
                <input type="number" id="macho-badge-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-badge-amount" placeholder="Number to buy">
                <br />
                <button id="macho-badge-buy" class="button">Buy</button>
            </div>
            <div class="drac">
                <h2>Macho Pink Eraser</h2>
                <br />
                <img src="/static/images/eraser.jpg" class="images">
                <br />
                <p>? macho bucks</p>
                <br />
                <input type="number" id="macho-eraser-bank" placeholder="Bank Account Number">
                <br />
                <input type="number" id="macho-eraser-amount" placeholder="Number to buy">
                <br />
                <button id="macho-eraser-buy" class="button">Buy</button>
            </div>
        </div>
    </div>

    <script src="/static/js/index.js"></script>

</body>
</html>
